noderedflow
[
    {
        "id": "75f0fa50.fe1b74",
        "type": "mqtt in",
        "z": "856f89d1.cf82d8",
        "name": "kumanda1 payload in",
        "topic": "kumanda1/in",
        "qos": "0",
        "broker": "91cf2ba5.2fd9c8",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "e8b75a7a.f90fd8"
            ]
        ]
    },
    {
        "id": "e8b75a7a.f90fd8",
        "type": "json",
        "z": "856f89d1.cf82d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "b14c35c2.9a65b8"
            ]
        ]
    },
    {
        "id": "b14c35c2.9a65b8",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "shape remote in",
        "func": "if (msg.payload.id==99) return [null, msg]; \nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "b9f511ae.8f232"
            ],
            [
                "940a3524.d25e68"
            ]
        ]
    },
    {
        "id": "d024c845.8a6248",
        "type": "server-state-changed",
        "z": "856f89d1.cf82d8",
        "name": "",
        "server": "a713c00a.edde8",
        "entityidfilter": "light",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "61f90c45.6674b4"
            ]
        ]
    },
    {
        "id": "47eef0db.1d9ae",
        "type": "mqtt out",
        "z": "856f89d1.cf82d8",
        "name": "",
        "topic": "kumanda1/out",
        "qos": "0",
        "retain": "false",
        "broker": "91cf2ba5.2fd9c8",
        "x": 1500,
        "y": 300,
        "wires": []
    },
    {
        "id": "e3f5f70a.79ad48",
        "type": "range",
        "z": "856f89d1.cf82d8",
        "minin": "0",
        "maxin": "254",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload.slider",
        "name": "",
        "x": 960,
        "y": 300,
        "wires": [
            [
                "7e7f02d8.49f55c"
            ]
        ]
    },
    {
        "id": "7e7f02d8.49f55c",
        "type": "change",
        "z": "856f89d1.cf82d8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "unavailable",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "172a840c.890c6c"
            ]
        ]
    },
    {
        "id": "beaa4246.f3193",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "shape remote out",
        "func": "for (var i=0; i<msg.config.length;i++) {\nif(msg.topic==msg.config[i].HAid){\nmsg.payload = { id: msg.config[i].id, state: msg.data.new_state.state , slider: msg.data.new_state.attributes.brightness};\nreturn [msg];\n}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 300,
        "wires": [
            [
                "e3f5f70a.79ad48"
            ]
        ]
    },
    {
        "id": "940a3524.d25e68",
        "type": "delay",
        "z": "856f89d1.cf82d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "b6e9f3f4.360f3"
            ]
        ]
    },
    {
        "id": "b6e9f3f4.360f3",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "config file",
        "func": "msg.config =   [{ id: 0, HAid: \"light.salon\", name: \"Living Room\", svalid: 1},\n                { id: 1, HAid: \"light.mutfak\", name: \"Kitchen\", svalid: 1},\n                { id: 2, HAid: \"light.mutfak_yan\", name: \"Kitchen Side\", svalid: 0},\n                { id: 3, HAid: \"light.hall\", name: \"Hall\", svalid: 0},];\nmsg.loop= {counter:0, max:msg.config.length};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 180,
        "wires": [
            [
                "efb626f8.bdf0b8"
            ]
        ]
    },
    {
        "id": "93b0d266.9f2dc",
        "type": "api-current-state",
        "z": "856f89d1.cf82d8",
        "name": "",
        "server": "a713c00a.edde8",
        "halt_if": "",
        "override_topic": false,
        "override_payload": false,
        "entity_id": "",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "fa787452.8ba5d8"
            ]
        ]
    },
    {
        "id": "f964c831.916b08",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "ask HA",
        "func": "msg.payload = { entity_id: msg.config[msg.loop.counter-1].HAid};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "93b0d266.9f2dc"
            ]
        ]
    },
    {
        "id": "457ca024.bd4dc",
        "type": "range",
        "z": "856f89d1.cf82d8",
        "minin": "0",
        "maxin": "254",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload.slider",
        "name": "",
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "ac3689e0.d19558"
            ]
        ]
    },
    {
        "id": "ac3689e0.d19558",
        "type": "change",
        "z": "856f89d1.cf82d8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "unavailable",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 240,
        "wires": [
            [
                "47eef0db.1d9ae",
                "6e5a1bbb.03aed4"
            ]
        ]
    },
    {
        "id": "fa787452.8ba5d8",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "shape message",
        "func": "msg.payload = { id: msg.loop.counter-1,name:msg.config[msg.loop.counter-1].name, state: msg.data.state , slider: msg.data.attributes.brightness, svalid:msg.config[msg.loop.counter-1].svalid, mid:msg.config.length};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "457ca024.bd4dc"
            ]
        ]
    },
    {
        "id": "6e5a1bbb.03aed4",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "looper",
        "func": "if(msg.loop.counter <= msg.loop.max-1)\n{\nmsg.loop={counter: msg.loop.counter+1, max:msg.loop.max};\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "f964c831.916b08"
            ]
        ]
    },
    {
        "id": "efb626f8.bdf0b8",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "set config to flow",
        "func": "flow.set(\"config\",msg.config);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "6e5a1bbb.03aed4"
            ]
        ]
    },
    {
        "id": "b9f511ae.8f232",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "flow returner",
        "func": "msg.config = flow.get(\"config\");\nflow.set(\"lastmessage\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "71617d75.a98f44"
            ]
        ]
    },
    {
        "id": "61f90c45.6674b4",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "flow returner",
        "func": "msg.config = flow.get(\"config\");\nmsg.lastmessage = flow.get(\"lastmessage\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "beaa4246.f3193"
            ]
        ]
    },
    {
        "id": "172a840c.890c6c",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "feedback destroyer",
        "func": "if(msg.payload.state!=msg.lastmessage.state&&msg.payload.slider!=msg.lastmessage.slider) return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "47eef0db.1d9ae"
            ]
        ]
    },
    {
        "id": "1ee82b7c.223e65",
        "type": "api-call-service",
        "z": "856f89d1.cf82d8",
        "name": "",
        "server": "a713c00a.edde8",
        "service_domain": "homeassistant",
        "service": "{}",
        "data": "{}",
        "mergecontext": "",
        "x": 1300,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2c4ca21e.1502ae",
        "type": "range",
        "z": "856f89d1.cf82d8",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload.data.brightness",
        "name": "",
        "x": 1120,
        "y": 120,
        "wires": [
            [
                "1ee82b7c.223e65"
            ]
        ]
    },
    {
        "id": "71617d75.a98f44",
        "type": "function",
        "z": "856f89d1.cf82d8",
        "name": "shape message",
        "func": "if(msg.payload.state) msg.payload = { service: \"turn_on\", data: {\"entity_id\": msg.config[msg.payload.id].HAid,\"brightness\": msg.payload.slider } };\nelse msg.payload = { service: \"turn_off\", data: {\"entity_id\": msg.config[msg.payload.id].HAid} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "2c4ca21e.1502ae"
            ]
        ]
    },
    {
        "id": "91cf2ba5.2fd9c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt_server",
        "broker": "yourmqttserver",
        "port": "1883",
        "clientid": "nodered",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a713c00a.edde8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "yourHAip",
        "pass": "",
        "llat": ""
    }
]
